.post-min{
    margin-top: 20px;
    height: 400px;
    border-bottom: solid;
    border-bottom-color: #0f0f0f;
    text-align: justify;
}
.post-max{
    text-align: justify;
}
/*.navbar{*/
    /*background-color: #428bca;*/
/*}*/
.navbar-brand {
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
}
.navbar-brand {
    padding: 0;
}
.navbar-brand>img {
    height: 100%;
    width: auto;
    padding: 7px 14px;
}
.read-more{
    position: absolute;
    bottom: 5px;
    left: 5px;
}
.btn {
    border-radius: 0;
}
.post-title{
    color: rgb(51, 122, 183);
    font-size: 1.55em;
    margin-top: 20px;
}
.post-date{
    /*color: #33B0B7;*/
}
#delete-list li{
    margin-top: 10px;
}
.head-desc {
    cursor: pointer;
    border-style: solid;
    border-color: rgb(51, 122, 183);
    position: relative;
    min-height: 150px;
    margin-top: 8px;
}
.head-desc > img {
    margin: auto;
    max-height: 100px;
}
.head-name {
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    background-color: rgb(51, 122, 183);
    position: absolute;
    bottom: 0;
    height: 50px;
    line-height: 50px;
    width: 100%;
    text-align: center;

}
@media screen and (max-width: 550px){
    .special {
        line-height: normal;
    }
    .special p {
        margin-top: 5%;
    }
}

.grey {
    background-color: #F4F4F4;
}


.modal-content {
    box-shadow: none;
    background-color: transparent;
    border: 0;
}


.custom-bullet li
{
    margin-top: 15px;
    margin-left: 10px;
}

hr {
    color: rgb(51, 122, 183);
    background-color: rgb(51, 122, 183);
    height: 2px;
    /*margin-top: 40px;*/
}

@media screen and (min-width: 768px) {
    #terminale-line {
        border-left: 1px solid rgb(51, 122, 183);
    }
    hr {
        margin-top: 40px;
        margin-bottom: 0;
    }
    h1 {
        margin-bottom: 20px;
        margin-top: 20px;
    }
}
.screen{
    /*display: inline-flex;*/
}

#onas {
    /*padding-left: 20px;*/
}

#sp {
    /*visibility: hidden;*/
}

.scrollToTop {
    position: fixed;
    bottom: -100px;
    right: 20px;
    text-decoration: none;
    font-size: 50px;
    color: rgb(51, 122, 183);
    cursor: pointer;
}
.scrollToTop :hover {
    color: #193d5b;
}

#napiszdonas{
    cursor: pointer;
    font-size: 15px;
    color: rgb(51, 122, 183);;
}

footer > .navbar {
    position: relative;
    bottom: 0;
    margin: 50px 0 0 0;
    width: 100%;
}
.foot {
    line-height: 50px;
    text-align: center;
    color: white;
    vertical-align: middle;
}
.foot > p {
    margin: 0;
    cursor: default;
}

@media screen and (max-width: 550px){
    .foot {
        line-height: normal;
    }
}

.before-card {
    height: 230px;
}
#map-load {
    margin-top: 90px;
}
.back >img {
    margin: 0 auto;
}

#skipperlog {
    color: #FFF;
    text-decoration: none;
    cursor: default;
}

.hand {
    cursor: pointer;
}
.aktyn {
    margin-top: 30px;
}
.aktyn div {
    height: 35px;
    /*margin-left: 5px;*/
}
@media screen and (max-width: 768px) {
    .aktyn div {
        height: 60px;
    }
}


#kasy {
    margin-top: 20px;
    font-size: 20px;
}
#kasy a {
    text-decoration: none;
}

.funkcja {
    text-align: center;
    margin-top: 20px;
}
.funkcja :first-child {
    font-size: 20px;
}
.funkcja img {
    margin-left: 10px;
    margin-bottom: 20px;
    max-height: 30px;
}

@media screen and (min-width: 992px) {
    .funkcja {
        height: 200px;
        line-height: 200px;
        margin-top: 0;
    }
    .funkcja img {
        margin-bottom: 0;
}
}

@media screen and (min-width: 768px) {
    .funkcja {
        font-size: 20px;
    }
.funkcja :first-child {
        font-size: 30px;
    }
}

tr :first-child {
    font-weight: bold;
}
#awcc1470912059267{
    max-height: 50px;
}
#show-more {
    margin-top: 30px;
}

.regaty-nazwa {
    font-size: 18px;
}
.regaty-img {
    max-height: 400px;
}

.video div {
    margin-bottom: 10px;
}
