.post-min{
    margin-top: 2px;
    height: 450px;
    border-bottom: solid;
    border-bottom-color: #0f0f0f;
    text-align: justify;
}
.post-max{
    text-align: justify;
}
/*.navbar{*/
    /*background-color: #428bca;*/
/*}*/
.navbar-brand {
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
}
.navbar-brand {
    padding: 0;
}
.navbar-brand>img {
    height: 100%;
    width: auto;
    padding: 7px 14px;
}
.read-more{
    position: absolute;
    bottom: 5px;
    left: 5px;
}
.btn {
    border-radius: 0;
}
.post-title{
    color: rgb(51, 122, 183);
}
.post-date{
    /*color: #33B0B7;*/
}
#delete-list li{
    margin-top: 10px;
}
.head-desc {
    cursor: pointer;
    padding: 0;
    margin-bottom: 10px;
    border-style: solid;
    border-color: rgb(51, 122, 183); ;
    min-height: 150px;
    display: block;
    /*background-image: url("../pic/about.jpg");*/
}
.head-desc > img {
    margin: auto auto;
    max-height: 90px;
}
.head-name {
    text-align: center;
    margin-top: 10px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    background-color: rgb(51, 122, 183);
    height: 50px;

    /*background-color: red;*/
}
.head-name > p {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.grey {
    background-color: #F4F4F4;
}


.modal-content {
    box-shadow: none;
    background-color: transparent;
    border: 0;
}


.custom-bullet li
{
    margin-top: 15px;
    margin-left: 10px;
}

hr {
    color: rgb(51, 122, 183);
    background-color: rgb(51, 122, 183);
    height: 2px;
}

@media screen and (min-width: 768px) {
    #terminale-line {
        border-right: 1px solid rgb(51, 122, 183);
    }
}
.screen{
    /*display: inline-flex;*/
}

#onas {
    /*padding-left: 20px;*/
}

#sp {
    /*visibility: hidden;*/
}

.scrollToTop {
    position: fixed;
    bottom: 10px;
    right: 20px;
    text-decoration: none;
    font-size: 50px;
    color: rgb(51, 122, 183);
    cursor: pointer;
    display: none;
}
.scrollToTop :hover {
    color: #193d5b;
}
